@font-face {
  font-family: "Stolzl";
  src: url("./assets/fonts/stolzl/stolzl-regular.otf");
  font-weight: normal;
}

@font-face {
  font-family: "Stolzl";
  src: url("./assets/fonts/stolzl/stolzl-thin.otf");
  font-weight: 300;
}

@font-face {
  font-family: "Stolzl";
  src: url("./assets/fonts/stolzl/stolzl-medium.otf");
  font-weight: 700;
}

@font-face {
  font-family: "Stolzl";
  src: url("./assets/fonts/stolzl/stolzl-bold.otf");
  font-weight: 900;
}
