$green: #25EC45;
$blue: #00C2FF;
$lightblue: #F6FDFF;

$white: #fff;
$black: #000;
$gray: #AAAAAA;
$lightgray: #BDBDBD;

$success: $green;
$primary: $black;
$system: $blue;

$main-bg: $lightblue;

$text-primary: $black;
$text-secondary: $gray;
$text-tertiary: $lightgray;

$link-color: $blue;
$link-color-hover: rgba($link-color, .5);

$panel-border: rgba($black, .1);
$border-radius: 5px;

$screen-xxl: 1680px;
$screen-lg: 1440px;
$screen-md: 1024px;
$screen-sm: 768px;
$screen-xs: 450px;
$screen-xxs: 375px;
